@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  background-color: inherit;
  width: 4px;

  &-thumb {
    background-color: #080d1a;
    border-radius: 30px;
  }
}

// display functions
@mixin display-flex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin display-grid($columns: 1fr, $gap: 20px) {
  display: grid;
  grid-template-columns: $columns;
  grid-gap: $gap;
}

// colors
$white: #fafafa;
$very-light-gray: #d6d8dc;
$gray: #a1a3a9;
$blue: #103acf;
$light-blue: #4c6fef;
$very-dark-blue: #080d1a;

body {
  background-color: $white;
  overflow-x: hidden;
}

// sections
section {
  padding: 60px 0;
  background-color: $white !important;

  h2 {
    margin-bottom: 50px;
    max-width: 60%;

    @media only screen and (max-width: 1000px) {
      max-width: 100%;
    }
  }

  &.hero {
    padding: 0;
  }
}

// all images
img {
  display: block;
  width: 100%;
}

// content container
.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  @media only screen and (max-width: 1250px) {
    padding: 0 50px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 0 40px;
  }
  @media only screen and (max-width: 800px) {
    padding: 0 20px;
  }
  @media only screen and (max-width: 500px) {
    padding: 0 10px;
  }
}

.banner {
  position: relative;
  background: linear-gradient(-45deg, #153194, #1939a9, #0c36c7, #103acf);
  color: #fff;
  padding: 50px 100px;
  margin: 50px 0;

  @media only screen and (max-width: 1010px) {
    padding: 50px;
  }

  @media only screen and (max-width: 780px) {
    padding: 30px;
  }

  @media only screen and (max-width: 400px) {
    padding: 15px;
  }

  .lines {
    position: absolute;
    width: 150px;
    right: 0;
    opacity: 0.4;

    @media only screen and (max-width: 790px) {
      width: 80px;
    }

    &-top {
      top: 0;
    }
    &-bottom {
      bottom: 0;
    }
  }

  .heading {
    margin-bottom: 30px;
  }

  p {
    width: 80% !important;

    @media only screen and (max-width: 780px) {
      width: 90% !important;
    }

    @media only screen and (max-width: 600px) {
      width: 100% !important;
    }
  }
}

// type
.heading {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  overflow: hidden;

  span {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    transition: all 1s ease-in-out;
  }
}

h1 {
  font-size: 60px;

  @media only screen and (max-width: 1000px) {
    font-size: 50px;
  }
  @media only screen and (max-width: 855px) {
    font-size: 40px;
  }
  @media only screen and (max-width: 720px) {
    font-size: 30px;
  }
}

h2 {
  font-size: 40px;
  font-weight: 400;

  @media only screen and (max-width: 1090px) {
    font-size: 35px;
  }
}

h3 {
  font-size: 30px;
  font-weight: 400;
}

h4 {
  font-size: 22px;
  font-weight: 400;
}

p {
  font-size: 17px;
  line-height: 1.5;
  opacity: 0.8;
  overflow: hidden;

  @media only screen and (max-width: 400px) {
    font-size: 16px;
  }

  span {
    display: inline-block;
    font: inherit;
    transition: all 2s ease;
  }
}

a {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}
