@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", sans-serif;
}

::-webkit-scrollbar {
  background-color: inherit;
  width: 5px;

  &-thumb {
    background-color: #141414;
    border-radius: 30px;
  }
}

// display functions
@mixin display-flex($align: center, $justify: center, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin display-grid($columns: 1fr, $gap: 20px) {
  display: grid;
  grid-template-columns: $columns;
  grid-gap: $gap;
}

// colors
$white: #fafafa;

body {
  background-color: $white;
  overflow-x: hidden;
}

// sections
section {
  padding: 100px 0;

  &.hero {
    padding: 0;
  }
}

// content container
.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;

  @media only screen and (max-width: 1120px) {
    padding: 0 50px;
  }
  @media only screen and (max-width: 1000px) {
    padding: 0 40px;
  }
  @media only screen and (max-width: 800px) {
    padding: 0 20px;
  }
  @media only screen and (max-width: 500px) {
    padding: 0 10px;
  }
}

// type
.heading {
  font-family: "Roboto", sans-serif;
  //   font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;

  span {
    font-family: inherit;
    font-size: inherit;
  }
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.8;
}

a {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
}
